@media (min-width: 768px) and (max-width: 992px) {
  /*header start*/
  div.header {
    width: 100%;
    background-color: #ffffff;
    z-index: 900 !important;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(167, 167, 167);
    transition: 300ms all linear;
    overflow: hidden !important;
  }
  div.header > div.top-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #ffffff !important;
  }

  div.right-side {
    display: flex;
    background-color: #ffffff !important;
    justify-content: space-between;
    direction: rtl;
    align-items: center;
    height: 100%;
    width: 70%;
    float: right;
    padding-right: 10px;
    gap: 10px;
  }
  div.right-side > .logo {
    width: 140px;
    height: 55%;
    align-items: center;
    margin-left: 10px !important;
    display: flex;
    gap: 5px;
  }
  div.right-side > .logo > img {
    max-width: 70%;
    height: 100%;
    border: none;
  }

  div.right-side > .searchbox {
    all: unset;
    height: 60px;
    min-width: 300px;
    background-color: rgb(229, 229, 229);
    border-radius: 15px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    float: right;
    margin: 0;
    padding: 0 10px;
    z-index: 999 !important;
  }
  div.left-side {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    float: left;
  }
  div.left-side > .login {
    width: 150px;
    max-width: 180px;

    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    direction: rtl;
  }
  div.left-side > .login > .right {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
  }
  div.left-side > .login > .left {
    border-left: 1px solid black;
    padding-left: 25px;
    cursor: pointer;
  }
  div.left-side > .buy-box {
    width: 45px;
    height: 75%;
    border: 0.5px solid rgb(227, 227, 227);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.left-side > .buy-box > .img-control {
    width: 99%;
    height: 99%;
    scale: 90%;
  }
  /*header end*/

  /*subsearch start*/

  div.subsearch {
    position: fixed;
    height: 90vh;
    width: 60%;
    background-color: whitesmoke;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow: 0.5px 0.5px 10px #535353;
    padding: 10px;
    direction: rtl;
    display: none;
    overflow: auto;
  }
  div.subsearch .search {
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 0 5px;
    background-color: gainsboro;
    cursor: text;
    margin: 5px 0;
  }

  div.subsearch input.searchbox-sub {
    all: unset;
    border-radius: 0 30px 30px 0;
    padding: 0 10px;
    background-color: gainsboro;
    height: 45px;
    display: inline-block;
    flex-grow: 1;
    fill: #5b5b5b;
  }
  div.subsearch .submit {
    height: 35px;
    width: 35px;
    display: flex;
    background-color: rgb(115, 115, 115);
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    fill: #f7f7f7;
  }
  /*best seller*/
  div.best-seller {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0 10px;
    margin-top: -20px;
  }
  div.subsearch h3 {
    color: #051244;
    margin-top: 4px;
  }
  div.filter {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding: 5px 10px;
    gap: 10px;
    row-gap: 0;
  }
  div.filter > span.filter-box {
    padding: 0px 15px;
    display: inline-block;
    display: flex;
    height: 30px;
    border: 0.1px solid rgb(183, 183, 183);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: #747474;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
  }
  /*filter by part start*/
  div.filter-item {
    padding: 5px 10px;
  }
  div.filter-by {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }
  div.filter-by > div.part {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    transition: 300ms linear all;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #494949;
    cursor: pointer;
  }
  div.filter-by > div.part > * {
    scale: 130%;
    transition: 300ms linear all;
  }
  div.filter-by > div.part:hover {
    scale: 110%;
  }
  div.filter-by > div.part:hover > * {
    scale: 140%;
  }
  /*filter by part end*/
  /*found part start*/
  div.found-container {
    margin: 0px 0;
    margin-top: 35px;
    padding: 5px 10px;
    width: 100%;
    height: 230px;
    border-radius: 20px;
    display: block !important;
    gap: 5px;
  }
  div.found-container > div.found-slider {
    width: 90%;
    background-color: #2b2b2b;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 2px solid #4b4b4b;
  }
  /*found part end*/
  /*close btn*/
  div.more-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    fill: #4b4b4b;
    cursor: pointer;
    font-size: 18px;
    padding: 2px 2px;
    padding-left: 0;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 1px 1px 5px gray;
    direction: ltr;
    gap: 10px;
    z-index: 10;
    z-index: 9999 !important;
  }
  div.close-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px gray;
    margin-left: -5px;
  }
  div.more-btn > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.sub-setting {
    width: 80px;
    height: 65px;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1;
    box-shadow: 1px 1px 5px gray;
    border-radius: 0 0 20px 20px;
    padding: 5px;
    padding-top: 28px;
    fill: #4b4b4b;
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
    z-index: 999 !important;
    background-color: whitesmoke;
  }
  div.sub-setting > .minus {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
    border-left: 1px solid rgb(157, 157, 157);
  }
  .item-setting {
    cursor: pointer;
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    vertical-align: top;
  }

  div.down-wrote {
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid rgb(138, 95, 3);
    margin-bottom: 5px;
    gap: 5px;
  }
  /*anwser start*/
  div.anwser-search {
    position: absolute;
    bottom: 5px;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 99%;
    z-index: 9999;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    overflow: hidden;
    display: none;
    padding-right: 10px;
    z-index: 800 !important;
  }
  div.anwser-search > div.scroll {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 10px 0;
    z-index: 800 !important;
  }
  /*answer box container*/
  div.answer-box-container {
    width: 100%;
    z-index: 800 !important;
    padding: 5px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 80px;
  }
  /*answer box*/
  div.answer-box {
    height: 230px;
    min-width: 180px;
    max-width: 220px;
    flex-grow: 1;
    background-color: #051244;
    border-radius: 5px;
  }
  div.scroll div.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: whitesmoke;
  }

  /*anwser end*/

  /*subsearch end*/

  /*backdrop start*/
  div.backdrop {
    position: fixed;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: #2b2b2b75;
    top: 0 !important;
    left: 0;
    bottom: 0;
    z-index: 998;
    display: none;
  }
  /*backdrop end*/
  /*banner*/
  div.banner {
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition: all 360ms linear;
  }
  div.banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* category start*/
  div.category2 {
    width: 20%;
    max-height: 65vh !important;
    z-index: 900;
    display: none;
    flex-direction: column;
    text-align: center;
    direction: rtl;
    transition: 300ms linear all;
    align-items: center;
    font-weight: 600;
    position: fixed;
    background-color: white;
    font-size: 13px;
    right: 0;
    overflow: auto !important;
    padding: 5px;
    padding-bottom: 20px;
    border: 1px solid gray !important;
    gap: 10px;
  }
  .header div.hammenu {
    height: 30px !important;
    width: 30px;
    float: right;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .header div.hammenu * {
    scale: 120%;
  }

  div.header > div.category2 * {
    z-index: 800 !important;
    width: 100%;
  }

  div.header > div.category2 > div.flex-category {
    display: flex;
    width: 100%;
    color: #757575;
    font-weight: 600;
    flex-direction: column;
    gap: 15px !important;
    justify-content: space-around !important;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }
  div.header > div.category2 > div.flex-category > * {
    cursor: pointer;
    font-size: 13px;
  }
  /*slider start*/
  .mySlidesss {
    display: none;
    max-height: 500px;
    width: 100%;
  }
  img {
    vertical-align: middle;
  }
  .category {
    display: none !important;
  }

  /* category end*/
  /*story start*/
  div.story-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px !important;
    min-height: 200px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    overflow: hidden;
  }
  .story2 {
    margin: 0 50px;
  }
  div.story-container div.story {
    width: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  div.story-container div.story p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  div.story-container div.story img {
    border-radius: 50%;
    background-color: #2b2b2b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }
  div.border {
    border: 3px solid red;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    position: relative;
  }
  div.border:hover {
    width: 120px;
    height: 120px;
    border: 5px solid red;
    border-radius: 50%;
    padding: 5px;
  }

  /*story end*/
  /*count down start*/
  div.countDown {
    width: 100%;
    height: 120px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  div.countDown > p {
    font-size: 24px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    background-color: white;
    margin-bottom: -5px;
    padding: 0 40px;
  }

  div.countDown .line {
    width: 95%;
    height: 2px;
    background-color: #2b2b2b;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  /*count down end*/
  /* blackContainer start*/
  div.blackContainer {
    width: 96% !important;
    overflow: hidden;
    height: 500px;
    margin: 20px auto;
    border: 5px solid black;
    border-radius: 35px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  div.blackContainer div.showall {
    width: 130px;
    height: 70%;
    cursor: pointer;
  }
  div.blackContainer > div.slideOfferContainer {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    gap: 10px;
    direction: rtl;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
  }
  div.blackContainer > div.slideOfferContainer > .itemSlide {
    flex-grow: 1;
    height: 100%;
    min-width: 280px;
    max-width: 300px;
    border-left: 3px solid whitesmoke;
    display: none;
    cursor: pointer;
  }
  div.blackContainer > div.slideOfferContainer > .itemSlide img {
    scale: 70%;
  }
  div.naviSlide > div.next {
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    box-shadow: 1px 0px 5px 3px rgb(242, 242, 242);
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    left: 10px;
  }
  div.naviSlide > div.perv {
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    box-shadow: 1px 0px 5px 3px rgb(242, 242, 242);
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    right: 10px;
  }
  div.naviSlide * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
  }
  .disableBtn {
    fill: #757575 !important;
    opacity: 0.7;
  }
  .info-more {
    border-bottom: 2px solid red;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    direction: ltr;
  }
  .info-more label {
    font-weight: 600;
    font-size: 12px;
  }
  div.img-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 10px 5px;
    margin: 0 auto;
  }
  div.img-container img {
    object-fit: cover;
    width: 100%;
    height: 70%;
  }
  .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }
  .price > .now-price {
    color: red;
    font-weight: 700;
    font-size: 22px;
  }
  .price .discount {
    color: white;
    background-color: #2b2b2b;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  .last-price {
    text-align: center;
    text-decoration: line-through;
  }

  /* blackContainer end*/
  /*advertise part start*/
  div.advertise {
    width: 98%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden !important;
  }
  div.advertise img {
    flex-grow: 1;
    width: 98%;
    min-height: 80px;
    object-fit: cover;
    border-radius: 30px;
    padding: 10px;
    display: block;
  }

  /*advertise part end*/

  /*slider customized start*/
  .customize-v3 {
    all: unset;
    border: 2px solid gainsboro !important;
    border-radius: 20px !important;
    overflow: hidden;
    width: 98% !important;
    margin: 0 auto;
  }
  .customize-v3 img {
    scale: 90% !important;
    object-fit: contain !important;
    width: 100% !important;
  }
  .customize-v3 p {
    font-size: 14px;
  }

  .priceness {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
  }
  .itemSlide {
    position: relative;
  }
  .banner-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    direction: rtl;
    padding: 0 10px !important;
  }
  .banner-slider a {
    color: rgb(61, 61, 255);
    text-decoration: none;
    font-weight: 600;
  }

  /*slider customized start*/
  /*bartar start*/
  div.bartar {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    gap: 20px;
    max-height: 600px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .item-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .item-control {
    width: 160px;
    height: 160px;
    text-align: center;
  }
  .item-control img {
    width: 155px;
    height: 150px;
    object-fit: contain;
    filter: brightness(1.1);
  }

  /*bartar end*/
  .big-ad {
    display: block;
    width: 95%;
    margin: 20px auto;
    height: 200px;
    border-radius: 30px;
  }
  .itemSlide {
    min-width: 170px !important;
  }
  .itemSlide span {
    font-size: 12px;
  }
  .itemSlide p {
    font-size: 12px;
  }
  /*range-container start*/
  .range-container {
    width: 98%;
    height: max-content;
    display: flex;
    direction: rtl;
    justify-content: space-between;
    margin: 30px auto;
  }
  .range {
    width: 49.5%;
    height: 270px;
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
  }
  .range-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 90%;
    width: 100%;
    gap: 5px;
    margin: 0 auto;
    padding-top: 10px;
  }
  .range-item {
    width: 32%;
    height: 48%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size:13px !important;
  }
  /*range-container end*/

  .ads-double {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
  }
  .ads-double img {
    width: 48%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 2px 5px gray;
    display: inline-block;
    background-color: #2b2b2b;
  }
  .heading {
    display: flex;
    direction: rtl;
    padding: 10px;
    align-items: center;
    gap: 10px;
  }

  .lavazem-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    direction: rtl;
    margin-top: 10px !important;
    padding: 0 5px;
  }
  .lavazem-container > * {
    min-width: 200px;
    height: 200px;
    border: 1px solid rgb(217, 217, 217);
    position: relative;
    margin: 0 auto;
    float: right;
  }
  .lavazem-container > * > img {
    object-fit: cover;
    display: inline-block;
    background-color: #9e9e9e;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lavazem-container > * > div.hover {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 0 0 20px 20px;
    background-color: #2b2b2b;
    height: 60px;
    opacity: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 200ms linear;
  }
  .lavazem-container > * > img:hover ~ div.hover {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 0 0 20px 20px;
    background-color: #2b2b2b;
    height: 60px;
    opacity: 1;
  }
  .lavazem-container > * > div.hover:hover {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 0 0 20px 20px;
    background-color: #2b2b2b;
    height: 60px;
    opacity: 1;
  }
  .veblog-container {
    width: 98%;
    margin: 50px auto;
    height: 300px;
    padding: 10px 15px;
  }
  .heading-news {
    display: flex;
    width: 100%;
    justify-content: space-between;
    direction: rtl;
  }
  .news-container {
    width: 100%;
    height: 90%;
    font-size:10px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .news {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .news > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  .disc {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2b2b2b;
    font-size: 8px !important;
    text-align: center;
    border-radius: 0 0 20px 20px;
  }
    /*footer start*/
    div.footer {
      all: unset;
      background-color: #051244;
      border-radius: 30px;
      width: 98%;
      min-height:600px;
      margin-bottom: 0 !important;
      display: block;
    }
    .top-footer,
    .floor {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .top-footer {
      border-bottom: 2px solid whitesmoke;
      height: 130px;
  
    }
    .top-footer > * {
      width: 200px;
      height: 70px;
      background-color: white;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 24px !important;
      color: #2b2b2b;
    }
    .secend-rank img {
      display: inline-block;
      width: 370px;
      height: 100px;
      border-radius: 25px;
    }
    .secend-rank {
      color: white;
      width: 100% !important;
      height:200px;
    }
    .footer ul {
      color: whitesmoke !important;
    }
    .third-rank{
      height: max-content !important;
      margin:30px auto;
    }
  
    /*footer end*/

  .licenceContainer {
    width: 70%;
    direction: rtl;
    float: right;
    padding-right: 10px;
    font-size: 13px;
  }
  .licence {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #showTheDetail {
    display: none;
    flex-direction: column;
    gap: 20px;
  }
}
